################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NanoTrade/WpfApplication1/bin/Debug
/NanoTrade/WpfApplication1/obj/Debug
